.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right:5px;
}
.icon.health {
    background-position: -130px -10px;
}
.icon.shield {
    background-position: -160px -10px;
}
.icon.armor {
    background-position: -10px -10px;
}
.icon.helmet {
    background-position: -280px -10px;
}
.icon.boots, .icon.speed {
    background-position: -220px -10px;
}
.icon.damage, .icon.sword {
    background-position: -190px -10px;
}
.icon.fist {
    background-position: -100px -10px;
}
.icon.club {
    background-position: -70px -10px;
}
.icon.bow {
    background-position: -40px -10px;
}
.icon.item {
    background-position: -250px -10px;
}
.icon.gold {
    background-image: url('../gfx/iconGold.png');
}
.icon.clock {
    background-image: url('../gfx/iconClock.png');
}
.value {
    vertical-align: middle;
}

.characterStatsContainer {
    position: absolute;
    left: 80px;
    top: -550px;
    width: 800px;
    height: 550px;
    background-color: #4080F0;
    border: 2px solid #fff;
    border-top: none;
    transition: top .5s;
    box-sizing: border-box;
    z-index: 2;
}

.characterStatsContainer.open {
    top: 0px;
}

.equipment {
    position: absolute;
    top: 300px;
    left: 5px;
}

.equipment  .equipmentSlot {
    margin: 5px;
}
.skills {
    position: absolute;
    width: 90px;
    top: 75px;
    left: 5px;
}

.skills .skill {
    margin: 5px;
}
.skills .skillLevel {
    float: right;
}

.equipmentSlot {
    margin: 5px;
}

.skillContainer {
    position: absolute;
    top: 10px;
    left: 265px;
    width: 520px;
    height: 520px;
    overflow: hidden;
    background-color: #aaa;
}
.skillSlot {
    text-align: center;
    padding-top: 15px;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #555;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 10px;
}
.skillSlot.revealed {
    background-color: #aaa;
    box-sizing: border-box;
    border: 2px solid #ccc;
}
.skillSlot.available {
    background-color: #822;
    cursor: pointer;
}
.skillSlot.purchaseable {
    background-color: #4b4;
    cursor: pointer;
}
.skillSlot.activated {
    background-color: #161;
    cursor: default;
}
.skillContainer .icon {
    position: absolute;
    top: 6px;
    left: 10px;
    margin: 0;
}
.skillContainer .value {
    font-size: 12px;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
}
.skillCost {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
    height: 12px;
    max-width: 40px;
    min-width: 12px;
    overflow: hidden;
    background-color: white;
    color: #800;
    padding-left: 2px;
    padding-right: 2px;
}

.skillSlot.purchaseable .skillCost {
    color: #080;
}

.characterStats {
    position: absolute;
    padding: 1px 5px;
    top: 548px;
    left: 150px;
    width: 500px;
    height: 50px;
    border: 2px solid #fff;
    border-top: none;
    box-sizing: border-box;
    background-color: #4080F0;
    cursor: pointer;
}
.status {
    display: inline-block;
    min-width: 50px;
}

.skillPoints {
    position: absolute;
    left: 130px;
    top: 5px;
    background-color: #8f8;
    border-radius: 2px;
    border: 1px solid white;
    font-size: 16px;
}

.levelAndExperience {
    display: inline-block;
    height: 50px;
    width: 200px;
}
.healthAndStats {
    display: inline-block;
    height: 50px;
    width: 280px;
}
.healthBar {
    position: relative;
    display: inline-block;
    background: #000;
    width: 150px;
    height: 20px;
    vertical-align: middle;
}
.healthBar .healthFill {
    position: absolute;
    background: #B00;
    width: 100%;
    height: 20px;
}
.healthBar .plagueFill {
    position: absolute;
    background: #A0C020;
    top: 15px;
    width: 100%;
    height: 5px;
}
.healthBar .currentHealth {
    position: absolute;
    right:85px;
}
.healthBar .maxHealth {
    position: absolute;
    left:80px;
}
.healthBar .slash {
    position: absolute;
    left: 70px;
}
.experienceBar {
    position: relative;
    display: inline-block;
    background: #FFF;
    width: 70px;
    height: 5px;
    vertical-align: middle;
    border-radius: 2px;
}
.experienceBar .experienceFill {
    position: absolute;
    background: #F84;
    width: 100%;
    height: 5px;
    border-radius: 2px;
}

.inventoryContainer {
    position: absolute;
    left: 960px;
    top: 50px;
    transition: left .5s;
}
.inventoryContainer.open {
    left: 610px;
}
.inventoryPanel {
    position: absolute;
    padding: 5px;
    padding-right: 0;
    width: 350px;
    height: 500px;
    border: 2px solid #fff;
    border-right: none;
    box-sizing: border-box;
    background-color: #4080F0;
}
.inventoryPanel.selected {
    z-index: 1;
}
.inventoryTab {
    position: absolute;
    left: -27px;
    width: 27px;
    height:80px;
    border: 2px solid #fff;
    border-right: none;
    box-sizing: border-box;
    background-color: #4080F0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}

.craftContainer, .shopContainer {
    position: absolute;
    left: -350px;
    top: 50px;
    width: 350px;
    height: 500px;
    border: 2px solid #fff;
    border-left: none;
    box-sizing: border-box;
    transition: left .5s;
    background-color: #4080F0;
}
.craftContainer.open, .shopContainer.open {
    left: 0px;
}

.ingredient {
    display: inline-block;
    margin-right: 10px;
}

.programContainer {
    position: absolute;
    left: 0px;
    top: 600px;
    width: 960px;
    height: 450px;
    border: 2px solid #fff;
    border-bottom: none;
    box-sizing: border-box;
    transition: top .5s;
    background-color: #4080F0;
}

.programContainer.open {
    top: 300px;
}

.goods .inventoryTab {
    top: 50px;
}
.weapons .inventoryTab {
    top: 125px;
}
.armor .inventoryTab {
    top: 200px;
}
.helmets .inventoryTab {
    top: 275px;
}
.boots .inventoryTab {
    top: 350px;
}

.inventoryTab .icon {
    position: absolute;
    margin: 0;
    top: 30px;
    left: 2px;
}

.currentArea {
    position: absolute;
    left: 480px;
    top: 300px;
}

.currentArea img {
    position: absolute;
    width: 350px;
    left: -175px;
    top: -90px;
}

.action {
    position: absolute;
    cursor: pointer;
}

.box {
    position: absolute;
    display: table-cell;
    left: -50px;
    top: 40px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: #4080F0;
    border: 2px solid #ddf;
    height: 50px;
    min-width: 100px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.action.slot1 {
    top: -190px;
    left: -320px;
}
.action.slot2 {
    top: -210px;
    left: -5px;
}
.action.slot3 {
    top: -190px;
    left: 310px;
}

.action.slot4 {
    top: 150px;
    left: -320px;
}
.action.slot5 {
    top: 150px;
    left: -5px;
}
.action.slot6 {
    top: 150px;
    left: 310px;
}
.action.slot7 {
    top: -30px;
    left: -320px;
}
.action.slot8 {
    top: -30px;
    left: 310px;
}

.action img {
    position: absolute;
    width: 200px;
    left: -100px;
    top: 0;
}

.test {
    position: absolute;
    top: 200px;
    left: 200px;
}
.monster {
    position: absolute;
    top: -40px;
    left: -140px;
    width: 300px;
    height: 120px;
}
.mineral {
    position: absolute;
    top: -50px;
    left: -100px;
    width: 200px;
    height: 150px;
}
.icon {
    margin-right:5px;
    margin-left:5px;
}
.monster .healthRow {
    margin-left: 80px;
}
.monster .statsRow {
    margin-left: 90px;
}
.monster .spoilsRow {
    margin-left: 95px;
}
.monster .graphic {
    position: absolute;
    top: 60px;
    left: 40px;
}
.mineral .graphic {
    position: absolute;
    top: 80px;
    left: 100px;
}
.mineral .timeRow .name {
    position: absolute;
    padding: 5px;
}

.monsterAction, .mineralAction {
    position: absolute;
    left: 50px;
    top: 100px;
    width: 100px;
}

.mineral .healthFill {
    background-color: #84c;
    height: 30px;
}
.mineral .healthBar {
    width: 120px;
    height: 30px;
}
.travel {
    width: 120px;
    position: absolute;
    top: 40px;
    left: -60px;
}
.travel.healthBar {
    width: 120px;
    height: 30px;
}
.travel .healthFill {
    background-color: #84c;
    height: 30px;
}

.travel .name {
    position: absolute;
    padding: 5px;
}

.inventoryItem {
    margin-bottom: 10px;
}
.itemHeading {
}
.itemEquipped {
    display: inline-block;
    width: 20px;
    margin-right: 5px;
}
.isEquipped .itemEquipped{
    display: inline-block;
    background-image: url('../gfx/icons20x20stars.png');
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right:5px;
}
.equipAction, .unequipAction, .buyAction {
    display: none;
}
.canEquip .equipAction {
    display: inline-block;
}
.canBuy .buyAction {
    display: inline-block;
}
.isEquipped .equipAction {
    display: none;
}
.isEquipped .unequipAction {
    display: inline-block;
}

.goods .itemEquipped {
    width: 0px;
}
.itemDetails, .itemSellActions  {
    margin-left: 75px;
}

.goods .itemDetails, .goods .itemSellActions  {
    margin-left: 55px;
}

.shopContainer, .craftContainer, .programContainer {
    padding: 5px;
    padding-right: 0px;
}

.heading {
    margin-top: 6px;
    margin-bottom: 10px;
    font-size:25px;
}

.itemQuantity {
    display: inline-block;
    width: 45px;
    margin-right: 5px;
    text-align: right;
}

button {
    cursor: pointer;
}
.recipe {
    margin: 5px;
    margin-bottom: 10px;
}
.recipe .craftAction {
    display: none;
}
.recipe .current {
    color: #C00;
}
.recipe .current, .recipe .cost {
    font-weight: bold;
}
.recipe.canCraft .craftAction {
    display: inline-block;
}
.recipe .enoughOwned .current {
    color: #4F4;
}

.toolTip {
    position: absolute;
    padding: 5px;
    width: 220px;
    font-size: 16px;
    border: 2px solid #fff;
    box-sizing: border-box;
    background-color: #20C060;
    border-radius: 4px;
    z-index: 100;
}

.mineralGraphic {
    position: absolute;
    display: inline-block;
    background-image: url('../gfx/minerals.png');
}

.mineralGraphic.copper {
    background-position: -330px -390px;
    width: 150px;
    height: 100px;
    left: -75px;
    top: -50px;
}

.mineralGraphic.iron {
    background-position: 0px -240px;
    width: 150px;
    height: 100px;
    left: -75px;
    top: -50px;
}

.body {
    overflow-y: auto;
    overflow-x: hidden;
    height: 450px;
}

.time {
    font-size: 14px;
}

.programsAndAddButton {
    width: 500px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}
.programButton {
    width: 100px;
    height: 25px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    background-color: #888;
    vertical-align: middle;
}
.programButton.selected, .programButton.addProgramButton {
    background-color: #eee;
}
.programEditor {
    display: inline-block;
    vertical-align: top;
}
.programDescription {
    margin-top: 5px;
    width: 98%;
    height: 50px;
    resize: none;
}

.programText {
    margin-top: 5px;
    width: 98%;
    height: 330px;
    resize: none;
}

.savedGames {
    position: relative;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 200px;
    border-radius: 7px;
    background-color: white;
    top: 300px;
    overflow-y: scroll;
}
.newGame {
    margin-left: 30px;
}
.savedGame {
    height: 25px;
}
.gameName {
    font-size: 16px;
    color: black;
    cursor: pointer;
}

.deleteGame, .playGame, .resetGame {
    float: right;
    margin-right: 5px;
}

.closeButton {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 15px;
    height: 15px;
    padding: 0;
}
/* close button should appear on top of skill tree */
.characterStatsContainer .closeButton {
    z-index: 2;
}

.action .door {
    position: absolute;
    background-image: url('../gfx/doorLocation.png');
    left: -100px;
    top: -20px;
    width: 200px;
    height: 120px;
    background-size: 400px 120px;
}
.action .door.open {
    left: -100px;
    background-position: -200px 0px;
}
.action .innerActionContainer {
    position: absolute;
    left: -80px;
    top: -20px;
    width: 160px;
    height: 120px;
    overflow: hidden;
}
.action .innerActionContainer .action {
    left: 80px;
    top: 0;
}